# Laravel y Composer
vendor/
node_modules/
npm-debug.log
yarn-error.log


# Entorno y Base de datos
.env
.env.backup
.env.production
*.sqlite
*.db
/database/*.sqlite

# Almacenamiento y Logs
/storage/*.key
/storage/logs/*.log
/storage/app/public/*
!/storage/app/public/.gitignore
/public/storage
/storage/pail

# Archivos Sensibles de la Iglesia (¡CRÍTICO!)
/public/imagen/firma_pastor.png
/public/imagen/sello_iglesia.png

# Compilados y Configuración local
/public/build
/public/hot
/auth.json
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml

# IDEs y Editores de código
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Sistema operativo
.DS_Store
Thumbs.db

# Temporales y Scratch
/scratch

