RewriteEngine On
RewriteBase /ProyectoIglesia/

# Redirigir a HTTPS si es necesario (opcional)
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Si el archivo o directorio solicitado existe, cargarlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# De lo contrario, redirigir todo a index.php
RewriteRule ^(.*)$ index.php [L,QSA]
